[Unit]
Description=A tool to forward events ELK 
After=network.target
[Service]
Type=simple
ExecStart=/opt/event-forwarding/event-forwarding
StandardOutput=journal
StandardError=journal
Restart=on-failure
[Install]
WantedBy=multi-user.target
